;;; SPDX-FileCopyrightText: 2024 Jomco B.V.
;;; SPDX-FileCopyrightText: 2024 Topsector Logistiek
;;; SPDX-FileContributor: Joost Diepenmaat <joost@jomco.nl
;;; SPDX-FileContributor: Remco van 't Veer <remco@jomco.nl>
;;;
;;; SPDX-License-Identifier: AGPL-3.0-or-later

{:deps  {org.bdinetwork/ishare-jwt {:git/url "https://github.com/Basic-Data-Infrastructure/clj-ishare-jwt.git"
                                    :git/sha "3b22e4f7a89ef9a8e520283a57db49153a9ba8c7"}
         org.babashka/http-client  {:mvn/version "0.4.20"}
         org.babashka/json         {:mvn/version "0.1.6"}}
 :paths ["src" "test"]

 :aliases
 {:test     {:extra-deps {lambdaisland/kaocha    {:mvn/version "RELEASE"}
                          org.clojure/core.async {:mvn/version "1.6.673"}}
             :main-opts  ["-m" "kaocha.runner"]}
  :lint     {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
             :main-opts  ["-m" "clj-kondo.main" "--lint" "src" "test"]}
  :build    {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
             :ns-default build}
  :outdated {:replace-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts    ["-m" "antq.core"]}}}
